html {
  font-size: 10px;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
}
header {
  overflow: hidden;
  margin: 0 3.2rem;
}
header .h-left {
  margin-top: 6.2rem;
  float: left;
}
header .h-left img {
  width: 4.4rem;
}
header .h-right {
  margin-top: 7rem;
  float: right;
  color: #666666;
  font-size: 3rem;
}
.banner {
  position: absolute;
  top: 12.7rem;
  left: 24.7rem;
  text-align: center;
}
.banner img {
  width: 25rem;
  height: 27.4rem;
}
form div {
  text-align: center;
  width: 60rem;
  border-bottom: 0.3rem solid #ebebeb;
}
form div input {
  color: #999999;
  font-size: 2.8rem;
  text-align: center;
  outline: none;
  border: 0;
  margin-bottom: 2.4rem;
}
form .reg {
  position: absolute;
  top: 51.7rem;
  left: 7.4rem;
}
form .pass {
  position: absolute;
  top: 63.7rem;
  left: 7.4rem;
}
form .pass div {
  width: 11.7rem;
  border: 0;
}
form .pass div p {
  position: absolute;
  font-size: 2.8rem;
  top: -0.5rem;
  right: -20.8rem;
  color: #d232b7;
}
form .pass div img {
  position: absolute;
  top: 0rem;
  right: 0;
  width: 11.7rem;
  height: 2.3rem;
}
form .password {
  position: absolute;
  top: 75.4rem;
  left: 7.4rem;
}
.posit {
  position: absolute;
  top: 87rem;
  left: 32.6rem;
}
.posit img {
  width: 10.2rem;
  height: 10.2rem;
}
p {
  position: absolute;
  top: 122rem;
  left: 15.6rem;
  text-align: center;
  font-size: 2.2rem;
  color: #999999;
}
